{% set block = "preview" %}


<div class="{{ block }}">
       <div class="{{ block }}__header">
            <div class="{{ block }}__col">
              <div class="{{ block }}__icon"></div>README.md</div>
       </div>
       <div class="{{ block }}__content">
            <div class="{{ block }}__inner">
              <h2 class="{{ block }}__title">Плагины и конфиги комбайна</h2>
              <p>Плагины - статически собираются в образ, любая модификация требует пересборки образа и перевыкатки сервиса. 
              Перед перевыкаткой нужно не забыть поменять layers на новый, версию предыдущего layer можно посмотреть в сервисе. 
              https://nanny.yandex-team.ru/ui/#/services/dashboards/catalog/combaine/</p>
              <p>Конфиги - деплоятся динамически через deploy-configs.py, который запускается по крону на всех комбайнах. 
              Скрипт generator.py и deploy-configs.py деплоятся динамически вместе с конфигами. Каталог configs poll-ится 
              на измененние svn ревизии раз в минуту, поэтому задержка деплоя конфигов в комбайн должна быть не больше минуты 
              с момента мерджа в транк.</p>
              </div>
       </div>
</div>